@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

a:hover {
  color: #8b8b8b;
}

.section-title {
  text-align: center;
}

.section-title h2{
  margin: 2em 0 1.5em 0;
  font-weight: 400;
}