.WeatherApp {
    background: linear-gradient(to bottom, #4b6cb7 0%, #182848 100%);
    background-size: cover;
    background-position: bottom;
    transition: 0.4s ease;
  }
  
  .WeatherApp.warm {
    background: linear-gradient(to bottom, #d53369 0%, #daae51 100%);
  }
  
  main {
    padding: 6rem;
    min-height: 80vh;
  }
  
  .search-box {
    width: 100%;
    margin: 0 0 4rem;
  }
  
  .search-box .search-bar {
    display: block;
    width: 100%;
    padding: 15px;
  
    appearance: none;
    background: none;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0px 0px 16px 16px;
    margin-top: -25px;
    box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
    color: #313131;
    font-size: 20px;
    transition: 0.4s ease;
  }
  
  .search-box .search-bar:focus {
    background-color: rgba(255, 255, 255, 0.75);
  }
  
  .location-box .location {
    color: #FFF;
    font-size: 25px;
    text-align: center;
    margin-top: 3rem;
  }
  
  .location-box .date {
    color: #FFF;
    font-size: 18px;
    font-style: italic;
    text-align: center;
  }
  
  .weather-box {
    text-align: center;
    padding-top: 1rem;
  }
  
  .weather-box .temp {
    position: relative;
    display: inline-block;
    color: #FFF;
    font-size: 102px;
    text-align: center;
  }
  
  .weather-box .weather-text {
    color: #FFF;
    font-size: 38px;
  }
  .weather-box .weather-icon {
    color: #FFF;
  }
  @media only screen and (max-width: 425px) {
    main {
        padding: 3rem 2rem;
    }
    .search-box {
        width: 100%;
        margin: 0 0 1em;
      }
}