.Works {
    padding: 0 10em 4em 10em;
    display: flex;
    flex-direction: column;
    transition: all 0.2s ease-in-out;
}

.Works-conatiner {
    display: flex;
    padding: 2em 0;
    margin: auto;
}

.Works-icon {
    display: grid;
    padding: 4em;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    margin: 1em;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
}

.Works-icon svg {
    opacity: 1;
    transition: opacity 0.3s;
    grid-row: 1;
    grid-column: 1;
}

.Works-icon:hover>svg {
    opacity: .2;
}

.Works-icon:hover>.Work-icon-title {
    opacity: 1;
}

.Works-icon .Work-icon-title {
    text-align: center;
    font-weight: 600;
    opacity: 0;
    transition: opacity 0.3s;
    cursor: pointer;
    grid-row: 1;
    grid-column: 1;
    max-width: 5em;
    max-height: 4em;
}
.Work-icon-title-mobile {
    display: none;
}

@media only screen and (max-width: 1024px) {
    .Works {
        padding: 0 6em 2em 6em;
    }
    .Works-icon {
        padding: 3em;
    }
}
@media only screen and (max-width: 768px) {
    .Works {
        padding: 0 3em 1em 3em;
    }
}
@media only screen and (max-width: 425px) {
    .Works-conatiner {
        flex-direction: column;
    }
    .Work-icon-title-mobile {
        display: block;
        text-align: center;
        line-height: 1.8;
        margin-bottom: 2rem;
    }
}